APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=localhost
MAIL_PORT=25
MAIL_USERNAME=null
MAIL_PASSWORD=null

BASE_URL="http://localhost"

CJDNS_API_PASSWORD=null
CJDNS_API_HOST="127.0.0.1"
CJDNS_API_PORT=null
CJDNS_IP=null

HUB_VERSION=0.6