.comment {}
.comment-avatar {}
.comment-author {
}
.comment-username {
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}
.comment-timestamp {
  display: inline-block;
  float:right;
  font-size: 12px;
  color: #777;
}
.comment-body {
  font-size: 16px;
}
.comment-input-footer {

}
.comment-input-btn {
}
.comment-input-as {
  float:right;
  padding-top: 10px;
  color:#777;
}