.node-profile {
  position: relative;
}
.node-header {
    height: 320px;
    color:#fff;
    margin-bottom: 0;
    background: url('/assets/img/node-profile.jpg');
    border-radius: 0 !important;
}
.bkg-1 {
  background: url('/assets/img/profile-1.jpg');
}
.bkg-2 {
  background: url('/assets/img/profile-2.jpg');
}
.node-subheader {
  position: absolute;
  top:294px;
  margin-top:-93px;
  margin-bottom: 30px;
  width: 100%;
  height:120px;
  background: rgba(102,102,102,1);
  background: -moz-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(0,0,0,0.5) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(102,102,102,1)), color-stop(100%, rgba(0,0,0,0.5)));
  background: -webkit-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(0,0,0,0.5) 100%);
  background: -o-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(0,0,0,0.5) 100%);
  background: -ms-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(0,0,0,0.5) 100%);
  background: linear-gradient(to bottom, rgba(102,102,102,1) 0%, rgba(0,0,0,0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#000000', GradientType=0 );
}
.avatar {
  display: inline-block;
  position: absolute;
  top: 0;
  padding-left: 80px;
  margin-top: -20px;
  height: 170px;
  width: 240px;
  border-radius: 20px;
  z-index: 100;
}
.node-subheader .info {
  display: inline-block;
  left:260px;
  padding-bottom: 40px;
  padding: 20px 0 10px 10px;
  position: relative;
  color: #fff;
}

.node-subheader .info  h4 {
  color: #fff;
  margin-bottom: 0;
}
.node-subheader .info .ip {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0;
}
.node-datamenu {
  display: block;
  height: 70px;
  padding: 20px 20px 20px 280px;
  position: relative;
  color: #fff;
  background: rgba(19,19,19,1);
  background: -moz-linear-gradient(top, rgba(19,19,19,1) 0%, rgba(97,97,97,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(19,19,19,1)), color-stop(100%, rgba(97,97,97,1)));
  background: -webkit-linear-gradient(top, rgba(19,19,19,1) 0%, rgba(97,97,97,1) 100%);
  background: -o-linear-gradient(top, rgba(19,19,19,1) 0%, rgba(97,97,97,1) 100%);
  background: -ms-linear-gradient(top, rgba(19,19,19,1) 0%, rgba(97,97,97,1) 100%);
  background: linear-gradient(to bottom, rgba(19,19,19,1) 0%, rgba(97,97,97,1) 100%);
  }
.node-hostname {
  display: inline-block;
}
.node-country {
  display: inline-block;
  position: relative;
  padding: 0 60px;
}
.node-body {
  padding-top: 40px;
}

#ni_widget > h2 {
  font-weight: 400; 
  line-height: 1.1; 
  color: #75b1ae;
}
.ni_header {
  background: #F5AB35; 
  border-radius: 5px 5px 0px 0px; transition: 
  background 0.4s ease-out 0s; 
}
.ni_header p { 
  text-align:center; 
  line-height: 25px; 
  padding: 15px 0px; 
  margin: 0px; 
  font-weight: 200; 
  color: #333; 
}
.list-group-item:first-child { 
  border-top-right-radius: 0px; 
  border-top-left-radius: 0px; 
}
.off { 
  text-decoration: line-through;
  color: #999; 
}
.spacer {
  height: 2px; 
  background-color: #75b1ae;
}